body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header img{
    width: 100%;
}

h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.caja{
    position: relative;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    display: grid;
}

nav ul{
    position:sticky;
}

nav li{
    display: inline;
    margin: 0 0 0 10px;
}

nav a{
    text-transform: uppercase;
    color: rgb(3, 12, 94);
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}