body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header img{
    width: 100%;
}

h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 30px auto;
}

.caja{
    position: relative;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    display: grid;
    margin-bottom: 50px;
}

main{
    align-content: center;
    justify-content: center;
    display: grid;
}

nav li{
    display: inline;
    margin: 0 0 0 10px;
}

nav a{
    text-transform: uppercase;
    color: rgb(5, 143, 131);
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

section{
    margin: 0 25px 50px 25px;
    width: 1000px;
}

section h2{
    font-size: 25px;
    font-weight: bold;
    margin: 20px auto;
    text-decoration: underline black;
}

.sobremi p{
    text-align: justify;
}

.firma{
    width: 13%;
    margin: 15px auto;
}

.ptc{
    width: auto;
}

.ptc ul{
    display: flex;
}

.presentacion ul li h2{
    text-decoration: none;
}

.presentacion li{
    display: inline-block;
    text-align: justify;

}

.parte-1{
    display: inline-block;
    width: 80%;
    vertical-align: top;
}

.logo-personal{
    width: 200px;
    height: 200px;
    border-radius: 160px;
    border: 5px solid rgb(3, 129, 70);
}

.parte-2{
    position: relative;
    top: 10px;
    right: 0px;
}

.presentacion ul li ul li{
    display: inline-block;
    margin: 15px 0 15px 15px;
}

.presentacion ul li ul li a{
    text-decoration: none;
    color: rgb(4, 102, 102);
}

.presentacion ul li ul li a:hover{
    font-size: 16px;
    color: black;
    text-decoration: underline black;
    border-radius: 5px;
    padding: 3px;
}

.hobbie{
    display: inline-block;
    padding: 10px;
    margin: 5px 15px;
}

.hobbie img{
    width: 100px;
    border: 2px solid rgb(1, 123, 139);
    border-radius: 10px 20px 10px 20px;
}

.hobbie p{
    text-align: center;
    font-weight: bold;
}

.skills{
    display: inline-block;
    padding: 10px;
    margin: 5px 15px;
}

.skills img{
    width: 100px;
    border: 2px solid rgb(116, 1, 139);
    border-radius: 20px 10px 20px 10px;
}

.skills p{
    text-align: center;
    font-weight: bold;
}

.sena, .alura, .unicafam-google{
    display: inline-block;
}

.sena img{
    width: 100px;
}

.alura img{
    width: 100px;
}

.unicafam-google img{
    width: 100px;
}
footer{
    text-align: center;
    background: url(/img/imagen-fondo.jpg);
    padding:30px;
}

.copyright{
    color: aliceblue;
    margin: 15px auto;
    font-size: 20px;
}

@media screen and (max-width: 480px){
    .banner{
        width: auto;
    }

    .caja{
        width: auto;
        background: blue;
    }

    main{
        display: block;
    }

}